body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
header {text-align: center;
background-color:#333;
color: fff;
padding: 20px;}
.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-top: 20px;
}
.fade {
animation-name: fade;
animation-duration: 5s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}
@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;} 
    100% {opacity: 0;}}

.intro {text-align: center;
margin: top 20px;
}
.button
{display: inline-block;
padding: 10px 20px;
background-color: #333;
color: #fff;
text-decoration: none;
border-radius: 5px;
margin-top: 10px;}
